In [19]:
import findspark
findspark.init()

In [20]:
import pyspark
from pyspark.sql import SparkSession

In [21]:
spark=SparkSession.builder.appName('TipMulti').getOrCreate()

In [22]:
dtips=spark.read.csv('f:\\datasets\\tips.csv',header=True,inferSchema=True)
dtips.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [23]:
from pyspark.ml.feature import StringIndexer

In [28]:
si=StringIndexer(inputCol='day',outputCol='day_Col')

In [29]:
df=si.fit(dtips).transform(dtips)

In [30]:
df.show()

+----------+----+------+------+---+------+----+-------+
|total_bill| tip|   sex|smoker|day|  time|size|day_Col|
+----------+----+------+------+---+------+----+-------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|    1.0|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|    1.0|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|    1.0|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|    1.0|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|    1.0|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|    1.0|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|    1.0|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|    1.0|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|    1.0|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|    1.0|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|    1.0|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|    1.0|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|    1.0|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|    1.0|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|    1.0|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|    1.0|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|    1.0|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|    1.0|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|    1.0|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|    0.0|
+----------+----+------+------+---+------+----+-------+
only showing top 20 rows

In [31]:
si1=StringIndexer(inputCol='smoker',outputCol='smoker_Col')

In [33]:
f=si1.fit(df).transform(df)

In [34]:
f.show()

+----------+----+------+------+---+------+----+-------+----------+
|total_bill| tip|   sex|smoker|day|  time|size|day_Col|smoker_Col|
+----------+----+------+------+---+------+----+-------+----------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|    1.0|       0.0|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|    1.0|       0.0|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|    1.0|       0.0|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|    1.0|       0.0|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|    1.0|       0.0|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|    1.0|       0.0|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|    1.0|       0.0|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|    1.0|       0.0|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|    1.0|       0.0|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|    1.0|       0.0|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|    1.0|       0.0|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|    1.0|       0.0|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|    1.0|       0.0|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|    1.0|       0.0|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|    1.0|       0.0|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|    1.0|       0.0|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|    1.0|       0.0|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|    1.0|       0.0|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|    1.0|       0.0|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|    0.0|       0.0|
+----------+----+------+------+---+------+----+-------+----------+
only showing top 20 rows

In [37]:
si2=StringIndexer(inputCol='sex',outputCol='sex_Col')

In [40]:
f1=si2.fit(f).transform(f)
f1.show()

+----------+----+------+------+---+------+----+-------+----------+-------+
|total_bill| tip|   sex|smoker|day|  time|size|day_Col|smoker_Col|sex_Col|
+----------+----+------+------+---+------+----+-------+----------+-------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|    1.0|       0.0|    1.0|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|    1.0|       0.0|    0.0|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|    1.0|       0.0|    0.0|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|    1.0|       0.0|    0.0|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|    1.0|       0.0|    1.0|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|    1.0|       0.0|    0.0|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|    1.0|       0.0|    0.0|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|    1.0|       0.0|    0.0|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|    1.0|       0.0|    0.0|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|    1.0|       0.0|    0.0|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|    1.0|       0.0|    0.0|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|    1.0|       0.0|    1.0|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|    1.0|       0.0|    0.0|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|    1.0|       0.0|    0.0|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|    1.0|       0.0|    1.0|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|    1.0|       0.0|    0.0|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|    1.0|       0.0|    1.0|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|    1.0|       0.0|    0.0|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|    1.0|       0.0|    1.0|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|    0.0|       0.0|    0.0|
+----------+----+------+------+---+------+----+-------+----------+-------+
only showing top 20 rows

In [41]:
si3=StringIndexer(inputCol='time',outputCol='time_Col')

In [42]:
f2=si3.fit(f1).transform(f1)
f2.show()

+----------+----+------+------+---+------+----+-------+----------+-------+--------+
|total_bill| tip|   sex|smoker|day|  time|size|day_Col|smoker_Col|sex_Col|time_Col|
+----------+----+------+------+---+------+----+-------+----------+-------+--------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|    1.0|       0.0|    1.0|     0.0|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|    1.0|       0.0|    0.0|     0.0|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|    1.0|       0.0|    0.0|     0.0|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|    1.0|       0.0|    0.0|     0.0|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|    1.0|       0.0|    1.0|     0.0|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|    1.0|       0.0|    0.0|     0.0|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|    1.0|       0.0|    0.0|     0.0|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|    1.0|       0.0|    0.0|     0.0|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|    1.0|       0.0|    0.0|     0.0|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|    1.0|       0.0|    0.0|     0.0|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|    1.0|       0.0|    0.0|     0.0|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|    1.0|       0.0|    1.0|     0.0|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|    1.0|       0.0|    0.0|     0.0|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|    1.0|       0.0|    0.0|     0.0|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|    1.0|       0.0|    1.0|     0.0|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|    1.0|       0.0|    0.0|     0.0|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|    1.0|       0.0|    1.0|     0.0|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|    1.0|       0.0|    0.0|     0.0|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|    1.0|       0.0|    1.0|     0.0|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|    0.0|       0.0|    0.0|     0.0|
+----------+----+------+------+---+------+----+-------+----------+-------+--------+
only showing top 20 rows

In [43]:
from pyspark.ml.feature import VectorAssembler

In [61]:
veca=VectorAssembler(inputCols=['tip','day_Col','smoker_Col','sex_Col','time_Col'],outputCol='inputfeat')
out=veca.transform(f2)

In [62]:
out.show(5,False)

+----------+----+------+------+---+------+----+-------+----------+-------+--------+----------------------+
|total_bill|tip |sex   |smoker|day|time  |size|day_Col|smoker_Col|sex_Col|time_Col|inputfeat             |
+----------+----+------+------+---+------+----+-------+----------+-------+--------+----------------------+
|16.99     |1.01|Female|No    |Sun|Dinner|2   |1.0    |0.0       |1.0    |0.0     |[1.01,1.0,0.0,1.0,0.0]|
|10.34     |1.66|Male  |No    |Sun|Dinner|3   |1.0    |0.0       |0.0    |0.0     |(5,[0,1],[1.66,1.0])  |
|21.01     |3.5 |Male  |No    |Sun|Dinner|3   |1.0    |0.0       |0.0    |0.0     |(5,[0,1],[3.5,1.0])   |
|23.68     |3.31|Male  |No    |Sun|Dinner|2   |1.0    |0.0       |0.0    |0.0     |(5,[0,1],[3.31,1.0])  |
|24.59     |3.61|Female|No    |Sun|Dinner|4   |1.0    |0.0       |1.0    |0.0     |[3.61,1.0,0.0,1.0,0.0]|
+----------+----+------+------+---+------+----+-------+----------+-------+--------+----------------------+
only showing top 5 rows

In [65]:
finaldata=out.select('inputfeat','total_bill')

In [66]:
finaldata.printSchema()

root
 |-- inputfeat: vector (nullable = true)
 |-- total_bill: double (nullable = true)

In [67]:
finaldata.show(5,False)

+----------------------+----------+
|inputfeat             |total_bill|
+----------------------+----------+
|[1.01,1.0,0.0,1.0,0.0]|16.99     |
|(5,[0,1],[1.66,1.0])  |10.34     |
|(5,[0,1],[3.5,1.0])   |21.01     |
|(5,[0,1],[3.31,1.0])  |23.68     |
|[3.61,1.0,0.0,1.0,0.0]|24.59     |
+----------------------+----------+
only showing top 5 rows

In [68]:
train,test=finaldata.randomSplit([.70,.30])

In [69]:
from pyspark.ml.regression import LinearRegression

In [71]:
lr=LinearRegression(featuresCol='inputfeat',labelCol='total_bill')
lrt=lr.fit(train)

In [72]:
res=lrt.evaluate(test)
res.predictions.show(5,False)

+--------------+----------+------------------+
|inputfeat     |total_bill|prediction        |
+--------------+----------+------------------+
|(5,[0],[1.25])|10.51     |12.399081253193843|
|(5,[0],[2.31])|18.69     |17.03864607050901 |
|(5,[0],[2.64])|17.59     |18.483038890993917|
|(5,[0],[2.72])|13.28     |18.833194726262988|
|(5,[0],[3.35])|20.65     |21.590671929006906|
+--------------+----------+------------------+
only showing top 5 rows

C:\Users\User\AppData\Local\Programs\Python\Python310\lib\site-packages\pyspark\sql\context.py:125: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [73]:
print('r2',res.r2)
print('square of error',res.meanAbsoluteError)
print('root mean square error',res.rootMeanSquaredError)

r2 0.5344636988156138
square of error 4.8563090970672445
root mean square error 6.225356061415887