In [1]:
d1={}
print(d1)
print(type(d1))

{}
<class 'dict'>

In [2]:
d2={"shreya":1,"nagma":2}
print(d2)

{'shreya': 1, 'nagma': 2}

In [3]:
d2["shreya"]=3
print(d2)

{'shreya': 3, 'nagma': 2}

In [4]:
shoppinglist=[("Shirts",5),("Kurtis",20),("Purces",3)]
sdict=dict(shoppinglist)
sdict

{'Shirts': 5, 'Kurtis': 20, 'Purces': 3}

In [5]:
items=sdict.keys()
print(type(items))
print(items)

<class 'dict_keys'>
dict_keys(['Shirts', 'Kurtis', 'Purces'])

In [6]:
l=sdict.values()
print(l)
print(type(l))

dict_values([5, 20, 3])
<class 'dict_values'>

In [7]:
val=sdict.pop('Purces')
print(sdict)
print(val)

{'Shirts': 5, 'Kurtis': 20}
3

In [38]:
sum=0
for k in d2:
    print(k,"=",d2[k])
    sum+=d2[k]
print(sum)
print("_________________") 
for k in d2.keys():
    print(k,"=",d2[k])

shreya = 5
nagma = 2
pallu = 6
13
_________________
shreya = 5
nagma = 2
pallu = 6

In [9]:
for k,v in d2.items():
    print(k,"=",v)

shreya = 3
nagma = 2

In [10]:
d3={"shreya":5,"pallu":6}
d2.update(d3)
print(d2)

{'shreya': 5, 'nagma': 2, 'pallu': 6}

In [13]:
#max according to key
print(d2)
max(d2)

{'shreya': 5, 'nagma': 2, 'pallu': 6}

'shreya'

In [17]:
#max according to value
max(d2,key=d2.get)

'pallu'

In [18]:
#min
min(d2)

'nagma'

In [19]:
#min accordin to value
min(d2,key=d2.get)

'nagma'

In [20]:
d2

{'shreya': 5, 'nagma': 2, 'pallu': 6}

In [21]:
#clone
#copy creates shallow copy
d4=d2.copy()
d4

{'shreya': 5, 'nagma': 2, 'pallu': 6}

In [23]:
print(id(d2))
print(id(d4))

1960050145344
1960078093184

In [27]:
#occurance of each city
listt=["pune","pune","mumabi"]
dict={}
for i in listt:
        if(i in dict):
            dict[i]+=1
        else:
            dict[i]=1
print(dict)

{'pune': 2, 'mumabi': 1}

In [30]:
sorted(dict)

['mumabi', 'pune']

In [36]:
sorted(dict.items(),reverse=True)

[('pune', 2), ('mumabi', 1)]

In [85]:
#occurance of each character in string
s=input("enter string:")
d={}
for i in s:
    if(i in d):
        d[i]+=1
    else:
        d[i]=1
print(d)

enter string:hello
{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [76]:
#occurance of each word 
str=input("enter sentence:")
d={}

spli=str.split(" ")
for i in spli:
        if(i in d):
            d[i]+=1
        else:
            d[i]=1
print(d)

enter sentence:hello nagma
{'hello': 1, 'nagma': 1}

In [77]:
#employee details id,name,sal,calculate gross sal
#positional param
def employeedetails(id,name,basic,hra,da):
    print("ID:",id)
    print("NAME:",name)
    sal=basic+hra+da
    print("GROSS SAL:",sal)

In [78]:
employeedetails(1,"vaish",40000,5,6)

ID: 1
NAME: vaish
GROSS SAL: 40011

In [81]:
def employeedetailss(id,name,hra,da,basic=60000):
    print("ID:",id)
    print("NAME:",name)
    sal=basic+hra+da
    print("GROSS SAL:",sal)

In [82]:
employeedetailss(2,"shreya",10,6)

ID: 2
NAME: shreya
GROSS SAL: 60016

In [87]:
def employee(id,name="shreya",*args):
    print("ID:",id)
    print("name:",name)
    print(args)

In [84]:
employee(1,"shreya","c","java")

ID: 1
name: shreya
('c', 'java')