In [6]:
import findspark
findspark.init()

In [8]:
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Dfapp").getOrCreate()

In [9]:
spark

In [24]:
#df=spark.read.csv("F:\\item_details.csv",header=True)
#df=spark.read.option("header","true").csv("F:\\item_details.csv",header=True)
df=spark.read.option("header","true").csv("F:\\item_details.csv",header=True,inferSchema=True)

In [25]:
df.show()

+------+---------+--------+--------+-----+--------+
|itemid|itemname |itemcost|supplier|grade|Quantity|
+------+---------+--------+--------+-----+--------+
|     8|    chalk|   65.76|       X|    A|      10|
|    12|   Pencil|     4.0|       Y|    B|       5|
|    13|      Pen|    null|    null| null|    null|
|    15|   Duster|    54.0|       Y|    C|       4|
|    23|    Scale|    null|    null|    A|       3|
|    34|   Colors|    50.0|    null|    B|       1|
+------+---------+--------+--------+-----+--------+

In [26]:
df.columns

['itemid', 'itemname ', 'itemcost', 'supplier', 'grade', 'Quantity']

In [27]:
df.head(4)

[Row(itemid=8, itemname ='chalk', itemcost=65.76, supplier='X', grade='A', Quantity=10),
 Row(itemid=12, itemname ='Pencil', itemcost=4.0, supplier='Y', grade='B', Quantity=5),
 Row(itemid=13, itemname ='Pen', itemcost=None, supplier=None, grade=None, Quantity=None),
 Row(itemid=15, itemname ='Duster', itemcost=54.0, supplier='Y', grade='C', Quantity=4)]

In [28]:
df.select('itemid').show(3)

+------+
|itemid|
+------+
|     8|
|    12|
|    13|
+------+
only showing top 3 rows

In [29]:
df.dtypes

[('itemid', 'int'),
 ('itemname ', 'string'),
 ('itemcost', 'double'),
 ('supplier', 'string'),
 ('grade', 'string'),
 ('Quantity', 'int')]

In [30]:
df.printSchema()

root
 |-- itemid: integer (nullable = true)
 |-- itemname : string (nullable = true)
 |-- itemcost: double (nullable = true)
 |-- supplier: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- Quantity: integer (nullable = true)

In [39]:
df6=df.withColumn('billss',df['itemcost']*df['Quantity'])
df6.show()

+------+---------+--------+--------+-----+--------+------+
|itemid|itemname |itemcost|supplier|grade|Quantity|billss|
+------+---------+--------+--------+-----+--------+------+
|     8|    chalk|   65.76|       X|    A|      10| 657.6|
|    12|   Pencil|     4.0|       Y|    B|       5|  20.0|
|    13|      Pen|    null|    null| null|    null|  null|
|    15|   Duster|    54.0|       Y|    C|       4| 216.0|
|    23|    Scale|    null|    null|    A|       3|  null|
|    34|   Colors|    50.0|    null|    B|       1|  50.0|
+------+---------+--------+--------+-----+--------+------+

In [40]:
#rename col
df.withColumnRenamed('Quantity','qty').show()

+------+---------+--------+--------+-----+----+
|itemid|itemname |itemcost|supplier|grade| qty|
+------+---------+--------+--------+-----+----+
|     8|    chalk|   65.76|       X|    A|  10|
|    12|   Pencil|     4.0|       Y|    B|   5|
|    13|      Pen|    null|    null| null|null|
|    15|   Duster|    54.0|       Y|    C|   4|
|    23|    Scale|    null|    null|    A|   3|
|    34|   Colors|    50.0|    null|    B|   1|
+------+---------+--------+--------+-----+----+

In [41]:
#col drop

df6.drop('billss').show()

+------+---------+--------+--------+-----+--------+
|itemid|itemname |itemcost|supplier|grade|Quantity|
+------+---------+--------+--------+-----+--------+
|     8|    chalk|   65.76|       X|    A|      10|
|    12|   Pencil|     4.0|       Y|    B|       5|
|    13|      Pen|    null|    null| null|    null|
|    15|   Duster|    54.0|       Y|    C|       4|
|    23|    Scale|    null|    null|    A|       3|
|    34|   Colors|    50.0|    null|    B|       1|
+------+---------+--------+--------+-----+--------+

In [42]:
df6.na.drop()

In [43]:
df6.show()

+------+---------+--------+--------+-----+--------+------+
|itemid|itemname |itemcost|supplier|grade|Quantity|billss|
+------+---------+--------+--------+-----+--------+------+
|     8|    chalk|   65.76|       X|    A|      10| 657.6|
|    12|   Pencil|     4.0|       Y|    B|       5|  20.0|
|    13|      Pen|    null|    null| null|    null|  null|
|    15|   Duster|    54.0|       Y|    C|       4| 216.0|
|    23|    Scale|    null|    null|    A|       3|  null|
|    34|   Colors|    50.0|    null|    B|       1|  50.0|
+------+---------+--------+--------+-----+--------+------+

In [44]:
#replaces only string
df6.na.fill('not provided').show()

+------+---------+--------+------------+------------+--------+------+
|itemid|itemname |itemcost|    supplier|       grade|Quantity|billss|
+------+---------+--------+------------+------------+--------+------+
|     8|    chalk|   65.76|           X|           A|      10| 657.6|
|    12|   Pencil|     4.0|           Y|           B|       5|  20.0|
|    13|      Pen|    null|not provided|not provided|    null|  null|
|    15|   Duster|    54.0|           Y|           C|       4| 216.0|
|    23|    Scale|    null|not provided|           A|       3|  null|
|    34|   Colors|    50.0|not provided|           B|       1|  50.0|
+------+---------+--------+------------+------------+--------+------+

In [45]:
#replaces int value
df6.na.fill(99).show()

+------+---------+--------+--------+-----+--------+------+
|itemid|itemname |itemcost|supplier|grade|Quantity|billss|
+------+---------+--------+--------+-----+--------+------+
|     8|    chalk|   65.76|       X|    A|      10| 657.6|
|    12|   Pencil|     4.0|       Y|    B|       5|  20.0|
|    13|      Pen|    99.0|    null| null|      99|  99.0|
|    15|   Duster|    54.0|       Y|    C|       4| 216.0|
|    23|    Scale|    99.0|    null|    A|       3|  99.0|
|    34|   Colors|    50.0|    null|    B|       1|  50.0|
+------+---------+--------+--------+-----+--------+------+

In [46]:
df.show()

+------+---------+--------+--------+-----+--------+
|itemid|itemname |itemcost|supplier|grade|Quantity|
+------+---------+--------+--------+-----+--------+
|     8|    chalk|   65.76|       X|    A|      10|
|    12|   Pencil|     4.0|       Y|    B|       5|
|    13|      Pen|    null|    null| null|    null|
|    15|   Duster|    54.0|       Y|    C|       4|
|    23|    Scale|    null|    null|    A|       3|
|    34|   Colors|    50.0|    null|    B|       1|
+------+---------+--------+--------+-----+--------+

In [47]:
pdf=spark.read.option("header","true").csv("F:\\item_details.csv",header=True,inferSchema=True)

In [48]:
pdf.show()

+------+---------+--------+--------+-----+--------+
|itemid|itemname |itemcost|supplier|grade|Quantity|
+------+---------+--------+--------+-----+--------+
|     8|    chalk|   65.76|       X|    A|      10|
|    12|   Pencil|     4.0|       Y|    B|       5|
|    13|     null|    null|    null| null|    null|
|    15|   Duster|    54.0|       Y|    C|       4|
|    23|    Scale|    null|    null|    A|       3|
|    34|   Colors|    50.0|    null|    B|       1|
+------+---------+--------+--------+-----+--------+

In [53]:
pdf.na.drop(how='any',thresh=3).show()#min 3 non null values shd be there

+------+---------+--------+--------+-----+--------+
|itemid|itemname |itemcost|supplier|grade|Quantity|
+------+---------+--------+--------+-----+--------+
|     8|    chalk|   65.76|       X|    A|      10|
|    12|   Pencil|     4.0|       Y|    B|       5|
|    15|   Duster|    54.0|       Y|    C|       4|
|    23|    Scale|    null|    null|    A|       3|
|    34|   Colors|    50.0|    null|    B|       1|
+------+---------+--------+--------+-----+--------+

In [55]:
pdf.na.drop(subset=['supplier']).show()

+------+---------+--------+--------+-----+--------+
|itemid|itemname |itemcost|supplier|grade|Quantity|
+------+---------+--------+--------+-----+--------+
|     8|    chalk|   65.76|       X|    A|      10|
|    12|   Pencil|     4.0|       Y|    B|       5|
|    15|   Duster|    54.0|       Y|    C|       4|
+------+---------+--------+--------+-----+--------+

In [102]:
pdf.na.fill(f.mean('itemcost'),(pdf['itemcost'])).show()

TypeError: value should be a float, int, string, bool or dict

In [104]:
from pyspark.sql import functions as f
avg=pdf.agg(f.mean('itemcost'))
avg

DataFrame[avg(itemcost): double]

In [63]:
edf=spark.read.option("header","true").csv("F:\\employees.csv",header=True,inferSchema=True)

In [64]:
edf.show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|   Douglas|  Male|      null|           null|  null|   null|             null|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null|
|     Maria|  null| 4/23/1993|       11:17 AM|  null| 11.858|            false|             Finance|
|     Jerry|  Male|03-04-2005|           null|  null|   null|             true|             Finance|
|     Larry|  Male| 1/24/1998|        4:47 PM|  null|  1.389|             true|     Client Services|
|    Dennis|  null| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|
|      Ruby|Female|      null|           null| 65476| 10.012|             true|             Product|
|      null|Female| 7/20/2015|       10:43 AM|  null|   null|             null|             Finance|
|    Angela|Female|      null|        6:29 AM| 95570|   null|             true|         Engineering|
|   Frances|Female|      null|        6:51 AM|139852|  7.524|             true|Business Development|
|    Louise|Female|08-12-1980|        9:01 AM| 63241| 15.132|             true|                null|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807| 17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414|  1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737|  6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

In [76]:
edf.describe().show()

+-------+----------+------+----------+---------------+------------------+------------------+--------------------+
|summary|First Name|Gender|Start Date|Last Login Time|            Salary|           Bonus %|                Team|
+-------+----------+------+----------+---------------+------------------+------------------+--------------------+
|  count|       933|   853|       996|            997|               995|               996|                 956|
|   mean|      null|  null|      null|           null| 90601.67638190955|10.201956827309235|                null|
| stddev|      null|  null|      null|           null|32913.908066363096| 5.532092566649024|                null|
|    min|     Aaron|Female|01-01-2014|       10:00 AM|             35013|             1.015|Business Development|
|    max|    Willie|  Male| 9/30/2007|        9:59 AM|            149908|            19.944|               Sales|
+-------+----------+------+----------+---------------+------------------+------------------+--------------------+

In [77]:
edf.dtypes

[('First Name', 'string'),
 ('Gender', 'string'),
 ('Start Date', 'string'),
 ('Last Login Time', 'string'),
 ('Salary', 'int'),
 ('Bonus %', 'double'),
 ('Senior Management', 'boolean'),
 ('Team', 'string')]

In [78]:
edf.printSchema()

root
 |-- First Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Start Date: string (nullable = true)
 |-- Last Login Time: string (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Bonus %: double (nullable = true)
 |-- Senior Management: boolean (nullable = true)
 |-- Team: string (nullable = true)

In [71]:
edf.withColumnRenamed('start Date','SD').show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|First Name|Gender|        SD|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|   Douglas|  Male|      null|           null|  null|   null|             null|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null|
|     Maria|  null| 4/23/1993|       11:17 AM|  null| 11.858|            false|             Finance|
|     Jerry|  Male|03-04-2005|           null|  null|   null|             true|             Finance|
|     Larry|  Male| 1/24/1998|        4:47 PM|  null|  1.389|             true|     Client Services|
|    Dennis|  null| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|
|      Ruby|Female|      null|           null| 65476| 10.012|             true|             Product|
|      null|Female| 7/20/2015|       10:43 AM|  null|   null|             null|             Finance|
|    Angela|Female|      null|        6:29 AM| 95570|   null|             true|         Engineering|
|   Frances|Female|      null|        6:51 AM|139852|  7.524|             true|Business Development|
|    Louise|Female|08-12-1980|        9:01 AM| 63241| 15.132|             true|                null|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807| 17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414|  1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737|  6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

In [70]:
edf.na.drop(how='any',thresh=4).show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null|
|     Maria|  null| 4/23/1993|       11:17 AM|  null| 11.858|            false|             Finance|
|     Jerry|  Male|03-04-2005|           null|  null|   null|             true|             Finance|
|     Larry|  Male| 1/24/1998|        4:47 PM|  null|  1.389|             true|     Client Services|
|    Dennis|  null| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|
|      Ruby|Female|      null|           null| 65476| 10.012|             true|             Product|
|      null|Female| 7/20/2015|       10:43 AM|  null|   null|             null|             Finance|
|    Angela|Female|      null|        6:29 AM| 95570|   null|             true|         Engineering|
|   Frances|Female|      null|        6:51 AM|139852|  7.524|             true|Business Development|
|    Louise|Female|08-12-1980|        9:01 AM| 63241| 15.132|             true|                null|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807| 17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414|  1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737|  6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|
|      Lois|  null| 4/22/1995|        7:18 PM| 64714|  4.934|             true|               Legal|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

In [66]:
edf.na.drop(subset=['Gender']).show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|   Douglas|  Male|      null|           null|  null|   null|             null|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null|
|     Jerry|  Male|03-04-2005|           null|  null|   null|             true|             Finance|
|     Larry|  Male| 1/24/1998|        4:47 PM|  null|  1.389|             true|     Client Services|
|      Ruby|Female|      null|           null| 65476| 10.012|             true|             Product|
|      null|Female| 7/20/2015|       10:43 AM|  null|   null|             null|             Finance|
|    Angela|Female|      null|        6:29 AM| 95570|   null|             true|         Engineering|
|   Frances|Female|      null|        6:51 AM|139852|  7.524|             true|Business Development|
|    Louise|Female|08-12-1980|        9:01 AM| 63241| 15.132|             true|                null|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807| 17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414|  1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737|  6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|
|   Matthew|  Male|09-05-1995|        2:12 AM|100612| 13.645|            false|           Marketing|
|      null|  Male| 6/14/2012|        4:19 PM|125792|  5.042|             null|                null|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

In [68]:
edf.na.fill("none",['Gender','Salary','Team']).show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|   Douglas|  Male|      null|           null|  null|   null|             null|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                none|
|     Maria|  none| 4/23/1993|       11:17 AM|  null| 11.858|            false|             Finance|
|     Jerry|  Male|03-04-2005|           null|  null|   null|             true|             Finance|
|     Larry|  Male| 1/24/1998|        4:47 PM|  null|  1.389|             true|     Client Services|
|    Dennis|  none| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|
|      Ruby|Female|      null|           null| 65476| 10.012|             true|             Product|
|      null|Female| 7/20/2015|       10:43 AM|  null|   null|             null|             Finance|
|    Angela|Female|      null|        6:29 AM| 95570|   null|             true|         Engineering|
|   Frances|Female|      null|        6:51 AM|139852|  7.524|             true|Business Development|
|    Louise|Female|08-12-1980|        9:01 AM| 63241| 15.132|             true|                none|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807| 17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414|  1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737|  6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

In [73]:
edf.na.fill(0,['Salary','Bonus %']).show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|   Douglas|  Male|      null|           null|     0|    0.0|             null|           Marketing|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null|
|     Maria|  null| 4/23/1993|       11:17 AM|     0| 11.858|            false|             Finance|
|     Jerry|  Male|03-04-2005|           null|     0|    0.0|             true|             Finance|
|     Larry|  Male| 1/24/1998|        4:47 PM|     0|  1.389|             true|     Client Services|
|    Dennis|  null| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|
|      Ruby|Female|      null|           null| 65476| 10.012|             true|             Product|
|      null|Female| 7/20/2015|       10:43 AM|     0|    0.0|             null|             Finance|
|    Angela|Female|      null|        6:29 AM| 95570|    0.0|             true|         Engineering|
|   Frances|Female|      null|        6:51 AM|139852|  7.524|             true|Business Development|
|    Louise|Female|08-12-1980|        9:01 AM| 63241| 15.132|             true|                null|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807| 17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414|  1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737|  6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

In [108]:
from pyspark.sql import functions as f
avg=edf.agg(f.mean('Salary'))
avg.show()

+-----------------+
|      avg(Salary)|
+-----------------+
|90601.67638190955|
+-----------------+

In [100]:
edf.na.fill(f.mean('Salary'),(edf['Salary'])).show()

TypeError: value should be a float, int, string, bool or dict

In [118]:
from pyspark.ml.feature import Imputer 
imp=Imputer(inputCols=['Salary'],outputCols=['{}_Imputed'.format(c) for c in ['Salary']]).setStrategy('mean')

In [119]:
imp.fit(edf).transform(edf).show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+--------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|Salary_Imputed|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+--------------+
|   Douglas|  Male|      null|           null|  null|   null|             null|           Marketing|         90601|
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null|         61933|
|     Maria|  null| 4/23/1993|       11:17 AM|  null| 11.858|            false|             Finance|         90601|
|     Jerry|  Male|03-04-2005|           null|  null|   null|             true|             Finance|         90601|
|     Larry|  Male| 1/24/1998|        4:47 PM|  null|  1.389|             true|     Client Services|         90601|
|    Dennis|  null| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|        115163|
|      Ruby|Female|      null|           null| 65476| 10.012|             true|             Product|         65476|
|      null|Female| 7/20/2015|       10:43 AM|  null|   null|             null|             Finance|         90601|
|    Angela|Female|      null|        6:29 AM| 95570|   null|             true|         Engineering|         95570|
|   Frances|Female|      null|        6:51 AM|139852|  7.524|             true|Business Development|        139852|
|    Louise|Female|08-12-1980|        9:01 AM| 63241| 15.132|             true|                null|         63241|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|        102508|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807| 17.492|             true|     Human Resources|        112807|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|        109831|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|         41426|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414|  1.256|            false|             Product|         59414|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|         90370|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737|  6.414|            false|             Product|        111737|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|        132940|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|         81014|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+--------------+
only showing top 20 rows

In [127]:
from pyspark.ml.feature import Imputer #doent work with non numeric
impt=Imputer(inputCols=['Gender'],outputCols=['{}_Imputed'.format(c) for c in ['Gender']]).setStrategy('')

In [128]:
impt.fit(edf).transform(edf).show()

IllegalArgumentException: Imputer_bc4bac8c09ef parameter strategy given invalid value .

In [134]:
edf.filter("Salary>=90000").show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|    Dennis|  null| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|
|    Angela|Female|      null|        6:29 AM| 95570|   null|             true|         Engineering|
|   Frances|Female|      null|        6:51 AM|139852|  7.524|             true|Business Development|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807| 17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737|  6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|
|   Matthew|  Male|09-05-1995|        2:12 AM|100612| 13.645|            false|           Marketing|
|    Joshua|  null|03-08-2012|        1:58 AM| 90816| 18.816|             true|     Client Services|
|      null|  Male| 6/14/2012|        4:19 PM|125792|  5.042|             null|                null|
|      John|  Male|07-01-1992|       10:08 PM| 97950| 13.873|            false|     Client Services|
|     Scott|  null|07-11-1991|        6:58 PM|122367|  5.218|            false|               Legal|
|     Terry|  Male|11/27/1981|        6:30 PM|124008| 13.464|             true|     Client Services|
| Christina|Female|08-06-2002|        1:19 PM|118780|  9.096|             true|         Engineering|
|      null|  Male| 8/21/1998|        2:27 PM|122340|  6.417|             null|                null|
|      Jean|Female|12/18/1993|        9:07 AM|119082|  16.18|            false|Business Development|
|     Jerry|  Male|01-10-2004|       12:56 PM| 95734| 19.096|            false|     Client Services|
|    Rachel|Female| 2/16/2009|        8:47 PM|142032| 12.599|            false|Business Development|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

In [136]:
edf.filter(~(edf["Salary"]>=90000)).show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null|
|      Ruby|Female|      null|           null| 65476| 10.012|             true|             Product|
|    Louise|Female|08-12-1980|        9:01 AM| 63241| 15.132|             true|                null|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414|  1.256|            false|             Product|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|
|      Lois|  null| 4/22/1995|        7:18 PM| 64714|  4.934|             true|               Legal|
|      null|  Male|10-08-2012|        1:12 AM| 37076| 18.576|             null|     Client Services|
|     Craig|  Male| 2/27/2000|        7:45 AM| 37598|  7.757|             true|           Marketing|
|  Benjamin|  Male| 1/26/2005|       10:06 PM| 79529|  7.008|             true|               Legal|
|     Joyce|  null| 2/20/2005|        2:40 PM| 88657| 12.752|            false|             Product|
|   Theresa|Female|10-10-2006|        1:12 AM| 85182| 16.675|            false|               Sales|
|     Linda|Female|10/19/1981|        8:49 PM| 57427|  9.557|             true|     Client Services|
| Stephanie|Female| 9/13/1986|        1:52 AM| 36844|  5.574|             true|Business Development|
| Christine|  null| 6/28/2015|        1:08 AM| 66582| 11.308|             true|Business Development|
|   Marilyn|Female|12-07-1980|        3:16 AM| 73524|  5.207|             true|           Marketing|
|     Roger|  Male| 4/17/1980|       11:32 AM| 88010| 13.886|             true|               Sales|
|     Kathy|Female| 6/22/2005|        4:51 AM| 66820|    9.0|             true|     Client Services|
|      null|  null|12/17/2011|        8:29 AM| 41126| 14.009|             null|               Sales|
|      Todd|  Male| 2/18/1990|        2:41 AM| 49339|  1.695|             true|     Human Resources|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

In [143]:
edf.filter((edf["Salary"]>50000) & (edf["Salary"]<80000)).show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null|
|      Ruby|Female|      null|           null| 65476| 10.012|             true|             Product|
|    Louise|Female|08-12-1980|        9:01 AM| 63241| 15.132|             true|                null|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414|  1.256|            false|             Product|
|      Lois|  null| 4/22/1995|        7:18 PM| 64714|  4.934|             true|               Legal|
|  Benjamin|  Male| 1/26/2005|       10:06 PM| 79529|  7.008|             true|               Legal|
|     Linda|Female|10/19/1981|        8:49 PM| 57427|  9.557|             true|     Client Services|
| Christine|  null| 6/28/2015|        1:08 AM| 66582| 11.308|             true|Business Development|
|   Marilyn|Female|12-07-1980|        3:16 AM| 73524|  5.207|             true|           Marketing|
|     Kathy|Female| 6/22/2005|        4:51 AM| 66820|    9.0|             true|     Client Services|
|     Henry|  Male| 6/26/1996|        1:44 AM| 64715| 15.107|             true|     Human Resources|
|   Theresa|Female|04-11-2010|        7:18 AM| 72670|  1.481|             true|         Engineering|
|     Irene|Female|05-07-1997|        9:32 AM| 66851| 11.279|            false|         Engineering|
|      null|Female|06-12-2007|        5:25 PM| 58112| 19.414|             null|           Marketing|
|  Kathleen|  null|04-11-1990|        6:46 PM| 77834| 18.771|            false|Business Development|
|     Steve|  Male|11-11-2009|       11:44 PM| 61310| 12.428|             true|        Distribution|
|    Rachel|Female| 8/16/1999|        6:53 AM| 51178|  9.735|             true|             Finance|
|     Bobby|  Male|05-07-2007|       10:01 AM| 54043|  3.833|            false|             Product|
|    Thomas|  Male|06-04-1995|        2:24 PM| 62096| 17.029|            false|           Marketing|
|     Donna|Female|11/27/1991|        1:59 PM| 64088|  6.155|             true|               Legal|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

In [173]:
e=edf.filter(~(edf["Salary"]>100000)).show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null|
|      Ruby|Female|      null|           null| 65476| 10.012|             true|             Product|
|    Angela|Female|      null|        6:29 AM| 95570|   null|             true|         Engineering|
|    Louise|Female|08-12-1980|        9:01 AM| 63241| 15.132|             true|                null|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414|  1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|
|      Lois|  null| 4/22/1995|        7:18 PM| 64714|  4.934|             true|               Legal|
|    Joshua|  null|03-08-2012|        1:58 AM| 90816| 18.816|             true|     Client Services|
|      John|  Male|07-01-1992|       10:08 PM| 97950| 13.873|            false|     Client Services|
|      null|  Male|10-08-2012|        1:12 AM| 37076| 18.576|             null|     Client Services|
|     Craig|  Male| 2/27/2000|        7:45 AM| 37598|  7.757|             true|           Marketing|
|  Benjamin|  Male| 1/26/2005|       10:06 PM| 79529|  7.008|             true|               Legal|
|     Joyce|  null| 2/20/2005|        2:40 PM| 88657| 12.752|            false|             Product|
|     Jerry|  Male|01-10-2004|       12:56 PM| 95734| 19.096|            false|     Client Services|
|   Theresa|Female|10-10-2006|        1:12 AM| 85182| 16.675|            false|               Sales|
|     Linda|Female|10/19/1981|        8:49 PM| 57427|  9.557|             true|     Client Services|
| Stephanie|Female| 9/13/1986|        1:52 AM| 36844|  5.574|             true|Business Development|
|   Michael|  Male|10-10-2008|       11:25 AM| 99283|  2.665|             true|        Distribution|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows

In [175]:
edf.filter((edf["Salary"]>10000)).drop().show()

+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|First Name|Gender|Start Date|Last Login Time|Salary|Bonus %|Senior Management|                Team|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
|    Thomas|  Male| 3/31/1996|        6:53 AM| 61933|   4.17|             true|                null|
|    Dennis|  null| 4/18/1987|        1:35 AM|115163| 10.125|            false|               Legal|
|      Ruby|Female|      null|           null| 65476| 10.012|             true|             Product|
|    Angela|Female|      null|        6:29 AM| 95570|   null|             true|         Engineering|
|   Frances|Female|      null|        6:51 AM|139852|  7.524|             true|Business Development|
|    Louise|Female|08-12-1980|        9:01 AM| 63241| 15.132|             true|                null|
|     Julie|Female|10/26/1997|        3:19 PM|102508| 12.637|             true|               Legal|
|   Brandon|  Male|12-01-1980|        1:08 AM|112807| 17.492|             true|     Human Resources|
|      Gary|  Male| 1/27/2008|       11:40 PM|109831|  5.831|            false|               Sales|
|  Kimberly|Female| 1/14/1999|        7:13 AM| 41426| 14.543|             true|             Finance|
|   Lillian|Female|06-05-2016|        6:09 AM| 59414|  1.256|            false|             Product|
|    Jeremy|  Male| 9/21/2010|        5:56 AM| 90370|  7.369|            false|     Human Resources|
|     Shawn|  Male|12-07-1986|        7:45 PM|111737|  6.414|            false|             Product|
|     Diana|Female|10/23/1981|       10:27 AM|132940| 19.082|            false|     Client Services|
|     Donna|Female| 7/22/2010|        3:48 AM| 81014|  1.894|            false|             Product|
|      Lois|  null| 4/22/1995|        7:18 PM| 64714|  4.934|             true|               Legal|
|   Matthew|  Male|09-05-1995|        2:12 AM|100612| 13.645|            false|           Marketing|
|    Joshua|  null|03-08-2012|        1:58 AM| 90816| 18.816|             true|     Client Services|
|      null|  Male| 6/14/2012|        4:19 PM|125792|  5.042|             null|                null|
|      John|  Male|07-01-1992|       10:08 PM| 97950| 13.873|            false|     Client Services|
+----------+------+----------+---------------+------+-------+-----------------+--------------------+
only showing top 20 rows