In [4]:
import pandas as pd
import numpy as np

In [26]:
df1=pd.read_csv("F:\\items1.csv")
print(df1)

   itemID        itemName  itemcost supplier  grade
0       8           chalk        70         X     A
1      12          Pencil        20         Y     B
2      13          Pencil        70         X     A
3      15          Duster        54         Y     C
4       1  calculator           200       NaN     A
5       2       penpencil        20       NaN     C

In [27]:
#add a col quantity 
df1['Quantity']=[10,20,30,5,4,3]
print(df1)

   itemID        itemName  itemcost supplier  grade  Quantity
0       8           chalk        70         X     A        10
1      12          Pencil        20         Y     B        20
2      13          Pencil        70         X     A        30
3      15          Duster        54         Y     C         5
4       1  calculator           200       NaN     A         4
5       2       penpencil        20       NaN     C         3

In [28]:
#add col bill with bill=quantity*cost
df1['Bill']=df1['itemcost']*df1['Quantity']
print(df1)

   itemID        itemName  itemcost supplier  grade  Quantity  Bill
0       8           chalk        70         X     A        10   700
1      12          Pencil        20         Y     B        20   400
2      13          Pencil        70         X     A        30  2100
3      15          Duster        54         Y     C         5   270
4       1  calculator           200       NaN     A         4   800
5       2       penpencil        20       NaN     C         3    60

In [64]:
#3. Remove object where eve supplier is Nan
df2=df1.dropna(inplace=True)

In [86]:
#4show all items with grade A
i=df1.groupby(by='grade')
for j,k in i:
    if(j=='A'):
        print(k)

   itemID itemName  itemcost supplier  grade  Quantity  Bill Eligibility
0       8    chalk        70         X     A        10   700      export
2      13   Pencil        70         X     A        30  2100      export

In [71]:

# 5Sort this data by item cost in descenging order , if cost is same them according to item name
 #  in ascending

df1.sort_values(['itemcost','itemName'],ascending=[False,False],inplace=True)

In [72]:
df1

   itemID itemName  itemcost supplier  grade  Quantity  Bill  Eligibility
0       8    chalk        70         X     A        10   700       export
2      13   Pencil        70         X     A        30  2100       export
3      15   Duster        54         Y     C         5   270  cant export
1      12   Pencil        20         Y     B        20   400  cant export