In [1]:
import mysql.connector as connector
from mysql.connector import Error
import mysql.connector as connector
from mysql.connector import Error
def getDBConnection():
    try:
        mysqlobj=connector.connect(host='localhost',port=3307,database='item',user='root',password='Shreya@19')
        print(type(mysqlobj))
        if(mysqlobj.is_connected()):
            print('connection achieved succefully with mysql server ',mysqlobj.get_server_version())
            crs=mysqlobj.cursor()
           # crs.execute("create database item")
            #crs.execute("show databases")
            #for i in crs:
             #   print(i)
            print("DB created")
            print(type(crs))
            print('Cursor created..') 
    except Error as e:
        print(e)
        print('some problem while connecting with Db')
    else:
        print('connection establish suceesfully....')
    return mysqlobj,crs

In [2]:
getDBConnection()

<class 'mysql.connector.connection_cext.CMySQLConnection'>
connection achieved succefully with mysql server  (8, 0, 19)
DB created
<class 'mysql.connector.cursor_cext.CMySQLCursor'>
Cursor created..
connection establish suceesfully....

(<mysql.connector.connection_cext.CMySQLConnection at 0x20a2fdd6380>,
 <mysql.connector.cursor_cext.CMySQLCursor at 0x20a2fdd61d0>)

In [9]:
#table creation
def create():
        connection=' '
        cursor=' '
        try:
            connection,cursor=getDBConnection()
            cursor.execute('create table items (itemid int,iname varchar(25),cost int,supid int)')
            record=cursor.fetchall()
            connection.commit()
                
        except Error as e:
            print(e)
            print('some problem while connecting with Db')
        else:
            print('connection establish suceesfully....')
        finally:
            cursor.close()
            connection.close()
            print('DB Connection closed!')

In [31]:
create()

<class 'mysql.connector.connection_cext.CMySQLConnection'>
connection achieved succefully with mysql server  (8, 0, 19)
DB created
<class 'mysql.connector.cursor_cext.CMySQLCursor'>
Cursor created..
connection establish suceesfully....
1050 (42S01): Table 'items' already exists
some problem while connecting with Db
DB Connection closed!

In [6]:
#Write a Python program to insert 5 records in table by accepting data from user
def insert(itemid,iname,cost,supid):
    connection=' '
    cursor=' '
    try:
            connection,cursor=getDBConnection()
            cursor.execute('insert into items (itemid,iname,cost,supid) values (%s,%s,%s,%s)',(itemid,iname,cost,supid)) 
           # record='''insert into items (itemid,iname,cost,supid) values (%s,%s,%s,%s)'''
           # records_to_insert = [(5, 'smartwatch', 1999, 2),
                            # (1011, 'CHESSE pizza', 570, 1),
                             #(102, 'bagpack', 2330, 2),(103,'Veg burger',190,4),(103,'vanilaa icecream',20,4)]
            #cursor.executemany(record,records_to_insert)
            connection.commit()
            print(cursor.rowcount, "Record inserted successfully into items table")
    except Error as e:
            print (e)
            print('problem in fetching the data....')
    finally:
            cursor.close()
            connection.close()
            print('Connection closed successfully....')

In [7]:
#insert(101,'pen pencil',50,4)
#insert(4, 'smartwatch', 1999, 2)
#insert(5, 'pizza', 570, 1)
#insert(6, 'bagpack', 2330, 2)
#insert(1,'burgers',190,4)
#insert(3,'creamroll',20,4)
#insert(11,'books',2000,2)
#insert(12,'laptop',50000,6)
#insert(13,'tab',20000,4)
#insert()
insert(110,'paper',200,120)

<class 'mysql.connector.connection_cext.CMySQLConnection'>
connection achieved succefully with mysql server  (8, 0, 19)
DB created
<class 'mysql.connector.cursor_cext.CMySQLCursor'>
Cursor created..
connection establish suceesfully....
1 Record inserted successfully into items table
Connection closed successfully....

In [28]:
def FetAllRecords():
    connection=' '
    cursor=' '
    try:
        connection,cursor=getDBConnection()
        cursor.execute('select * from items')
        record=cursor.fetchall()
        print('itemid       |   itemname             |   itemcost             |  suppiler id')
        print("-------------------------------------------------------------------------------")
        for i in record:
            print(i[0],'        ',i[1],'               ',i[2],'            ',i[3])
    except Error as e:
        print (e)
        print('problem in fetching the data....')
    finally:
        cursor.close()
        connection.close()
        print('Connection closed successfully....')

In [29]:
FetAllRecords()

<class 'mysql.connector.connection_cext.CMySQLConnection'>
connection achieved succefully with mysql server  (8, 0, 19)
DB created
<class 'mysql.connector.cursor_cext.CMySQLCursor'>
Cursor created..
connection establish suceesfully....
itemid       |   itemname             |   itemcost             |  suppiler id
-------------------------------------------------------------------------------
101          pen pencil                 50              4
4          smartwatch                 1999              2
5          pizza                 570              1
6          bagpack                 2330              2
3          creamroll                 20              4
11          books                 2000              2
12          laptop                 50000              6
13          tab                 20000              4
5          smartwatch                 1999              2
1011          CHESSE pizza                 570              1
102          bagpack                 2330              2
103          Veg burger                 190              4
103          vanilaa icecream                 20              4
110          paper                 2200              120
Connection closed successfully....

In [24]:
#3.	Write a Python program to show records with cost between 1000 to 4450
def Recorditems():
    connection=' '
    cursor=' '
    try:
        connection,cursor=getDBConnection()
        cursor=connection.cursor(buffered=True)
        cursor.execute('select * from items where items.cost between 1000 and 4450')
        record=cursor.fetchall()
        print('itemid       |   iname             |   cost             |  supid')
        print("--------------------------------------------------------------------")
        for i in record:
            print(i[0],'        ',i[1],'               ',i[2],'            ',i[3])
        connection.commit()
    except Error as e:
        print (e)
        print('problem in fetching the data....')
    finally:
        cursor.close()
        connection.close()
        print('Connection closed successfully....')

In [25]:
Recorditems()

<class 'mysql.connector.connection_cext.CMySQLConnection'>
connection achieved succefully with mysql server  (8, 0, 19)
DB created
<class 'mysql.connector.cursor_cext.CMySQLCursor'>
Cursor created..
connection establish suceesfully....
itemid       |   iname             |   cost             |  supid
--------------------------------------------------------------------
4          smartwatch                 1999              2
6          bagpack                 2330              2
11          books                 2000              2
5          smartwatch                 1999              2
102          bagpack                 2330              2
110          paper                 2200              120
Connection closed successfully....

In [13]:
#4⦁	Write a Python program to increase cost of item by 2000 , which are supplied by supplier id 120
def increase_cost():
    connection=' '
    cursor=' '
    try:
        connection,cursor=getDBConnection()
        cursor.execute('update items set items.cost=items.cost+2000 where supid=120')
        record=cursor.fetchall()
        connection.commit()
    except Error as e:
        print (e)
        print('problem in fetching the data....')
    finally:
        cursor.close()
        connection.close()
        print('Connection closed successfully....')

In [14]:
increase_cost()

<class 'mysql.connector.connection_cext.CMySQLConnection'>
connection achieved succefully with mysql server  (8, 0, 19)
DB created
<class 'mysql.connector.cursor_cext.CMySQLCursor'>
Cursor created..
connection establish suceesfully....
Connection closed successfully....

In [27]:
FetAllRecords()

<class 'mysql.connector.connection_cext.CMySQLConnection'>
connection achieved succefully with mysql server  (8, 0, 19)
DB created
<class 'mysql.connector.cursor_cext.CMySQLCursor'>
Cursor created..
connection establish suceesfully....
itemid       |   itemname             |   itemcost             |  suppiler id
101          pen pencil                 50              4
4          smartwatch                 1999              2
5          pizza                 570              1
6          bagpack                 2330              2
3          creamroll                 20              4
11          books                 2000              2
12          laptop                 50000              6
13          tab                 20000              4
5          smartwatch                 1999              2
1011          CHESSE pizza                 570              1
102          bagpack                 2330              2
103          Veg burger                 190              4
103          vanilaa icecream                 20              4
110          paper                 2200              120
Connection closed successfully....

In [30]:
FetAllRecords()

<class 'mysql.connector.connection_cext.CMySQLConnection'>
connection achieved succefully with mysql server  (8, 0, 19)
DB created
<class 'mysql.connector.cursor_cext.CMySQLCursor'>
Cursor created..
connection establish suceesfully....
itemid       |   itemname             |   itemcost             |  suppiler id
-------------------------------------------------------------------------------
101          pen pencil                 50              4
4          smartwatch                 1999              2
5          pizza                 570              1
6          bagpack                 2330              2
3          creamroll                 20              4
11          books                 2000              2
12          laptop                 50000              6
13          tab                 20000              4
5          smartwatch                 1999              2
1011          CHESSE pizza                 570              1
102          bagpack                 2330              2
103          Veg burger                 190              4
103          vanilaa icecream                 20              4
110          paper                 2200              120
Connection closed successfully....

In [31]:
#5.	Write a Python program  to fetch all itemId and itemname as key values pairs 
def ItemdetailsKey():
    connection=' '
    cursor=' '
    try:
        connection,cursor=getDBConnection()
        cursor.execute('select itemid,iname from items')
        record=cursor.fetchall()
        print('item ID   ||      item name')
        print("----------------------")
        for i in record:
           
            print(i[0],'            ',i[1])
        connection.commit()
    except Error as e:
        print (e)
        print('problem in fetching the data....')
    finally:
        cursor.close()
        connection.close()
        print('Connection closed successfully....')

In [32]:
ItemdetailsKey()

<class 'mysql.connector.connection_cext.CMySQLConnection'>
connection achieved succefully with mysql server  (8, 0, 19)
DB created
<class 'mysql.connector.cursor_cext.CMySQLCursor'>
Cursor created..
connection establish suceesfully....
item ID   ||      item name
----------------------
101              pen pencil
4              smartwatch
5              pizza
6              bagpack
3              creamroll
11              books
12              laptop
13              tab
5              smartwatch
1011              CHESSE pizza
102              bagpack
103              Veg burger
103              vanilaa icecream
110              paper
Connection closed successfully....

In [48]:
#6.	Write a Python program to fetch first 10 records in key-value pair format

def FetTenRecords():
    connection=' '
    cursor=' '
    try:
        connection,cursor=getDBConnection()
        cursor.execute('select   * from items limit 10')
        
        record=cursor.fetchall()
        print('itemid       |   itemname             |   itemcost             |  suppiler id')
        print("-------------------------------------------------------------------------------")
        for i in record:
            print(i[0],'        ',i[1],'               ',i[2],'            ',i[3])
    except Error as e:
        print (e)
        print('problem in fetching the data....')
    finally:
        cursor.close()
        connection.close()
        print('Connection closed successfully....')

In [49]:
FetTenRecords()

<class 'mysql.connector.connection_cext.CMySQLConnection'>
connection achieved succefully with mysql server  (8, 0, 19)
DB created
<class 'mysql.connector.cursor_cext.CMySQLCursor'>
Cursor created..
connection establish suceesfully....
itemid       |   itemname             |   itemcost             |  suppiler id
-------------------------------------------------------------------------------
101          pen pencil                 50              4
4          smartwatch                 1999              2
5          pizza                 570              1
6          bagpack                 2330              2
3          creamroll                 20              4
11          books                 2000              2
12          laptop                 50000              6
13          tab                 20000              4
5          smartwatch                 1999              2
1011          CHESSE pizza                 570              1
Connection closed successfully....

In [50]:

#7.	Write a Python program  to fetch all itemId and itemname as key values pairs 
def deleteRecord(iname):
    connection=''
    cursor=''
    try:
        connection,cursor=getDBConnection()
        t1=(iname,)
        cursor.execute("delete from items where iname=%s",t1)
        connection.commit()
        print("deleted")
    except Error as e:
        print(e)
        print('some problem while deleting data')
    
    finally:
        cursor.close()
        connection.close()
        print("connection closed")

In [51]:
deleteRecord('smartwatch')

<class 'mysql.connector.connection_cext.CMySQLConnection'>
connection achieved succefully with mysql server  (8, 0, 19)
DB created
<class 'mysql.connector.cursor_cext.CMySQLCursor'>
Cursor created..
connection establish suceesfully....
deleted
connection closed

In [52]:
FetAllRecords()

<class 'mysql.connector.connection_cext.CMySQLConnection'>
connection achieved succefully with mysql server  (8, 0, 19)
DB created
<class 'mysql.connector.cursor_cext.CMySQLCursor'>
Cursor created..
connection establish suceesfully....
itemid       |   itemname             |   itemcost             |  suppiler id
-------------------------------------------------------------------------------
101          pen pencil                 50              4
5          pizza                 570              1
6          bagpack                 2330              2
3          creamroll                 20              4
11          books                 2000              2
12          laptop                 50000              6
13          tab                 20000              4
1011          CHESSE pizza                 570              1
102          bagpack                 2330              2
103          Veg burger                 190              4
103          vanilaa icecream                 20              4
110          paper                 2200              120
Connection closed successfully....