In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from mysql-connector-python) (3.19.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector as connector
from mysql.connector import Error

In [3]:
help(connector.connect)

Help on function connect in module mysql.connector:

connect(*args, **kwargs)
    Create or get a MySQL connection object

    In its simpliest form, Connect() will open a connection to a
    MySQL server and return a MySQLConnection object.

    When any connection pooling arguments are given, for example pool_name
    or pool_size, a pool is created or a previously one is used to return
    a PooledMySQLConnection.

    Returns MySQLConnection or PooledMySQLConnection.

In [4]:
#DB server name,which db name,user id password


try:
    mysqlobj=connector.connect(host='localhost',port=3307,database='busbooking',user='root',password='Shreya@19')
    print(type(mysqlobj))
    if(mysqlobj.is_connected()):
        print('connection achieved succefully with mysql server ',mysqlobj.get_server_version())
        crsr=mysqlobj.cursor()
        print(type(crsr))
        print("cursor created")
        crsr.execute("select * from driverdetails")
        #print(crsr.fetchall())
        records=crsr.fetchall()
        print('Driver no |  name |  Age |  experinece')
        for i in records:
            print(i[0],"  ",i[1],"  ",i[2],"  ",i[3])
        
        
except Error as e:
    print(e)
    print('some problem while connecting with Db')
else:
    print('connection establish suceesfully....')
finally:
    crsr.close()
    mysqlobj.close()
    print("connection closed")

<class 'mysql.connector.connection_cext.CMySQLConnection'>
connection achieved succefully with mysql server  (8, 0, 19)
<class 'mysql.connector.cursor_cext.CMySQLCursor'>
cursor created
Driver no |  name |  Age |  experinece
1    pqr    30    8
2    ram    28    4
3    ketan    40    10
4    raju    35    8
5    sham    30    None
6    mukesh    24    4
7    rajesh    40    None
8    anup    38    8
9    rupesh    40    10
10    aarav    24    9
11    aadi    40    9
12    rajesh    50    15
13    shiva    30    10
101    xyz    None    None
1111    oo    25    5
1999    abc    35    9
2000    shri    45    10
connection establish suceesfully....
connection closed

In [84]:
import mysql.connector as connector
from mysql.connector import Error

def getDBConnection():
    try:
        mysqlobj=connector.connect(host='localhost',port=3307,database='busbooking',user='root',password='Shreya@19')
        print(type(mysqlobj))
        if(mysqlobj.is_connected()):
            print('connection achieved succefully with mysql server ',mysqlobj.get_server_version())
            crsr=mysqlobj.cursor()
            print(type(crsr))
            print("cursor created")
    except Error as e:
        print(e)
        print('some problem while connecting with Db')
    return mysqlobj,crsr

#fetching all records
def fetchAllRecords():
    connection=''
    cursor=''
    try:
        connection,cursor=getDBConnection()
        cursor.execute("select * from driverdetails")
        records=cursor.fetchall()
        
      
        print('Driver no |  name |  Age |  experinece')
        for i in records:
            print(i[0],"  ",i[1],"  ",i[2],"  ",i[3])
    except Error as e:
        print(e)
        print('some problem while fetching data')
    
    finally:
        cursor.close()
        connection.close()
        print("connection closed")

In [109]:
fetchAllRecords()

<class 'mysql.connector.connection_cext.CMySQLConnection'>
connection achieved succefully with mysql server  (8, 0, 19)
<class 'mysql.connector.cursor_cext.CMySQLCursor'>
cursor created
Driver no |  name |  Age |  experinece
1    pqr    30    8
2    ram    28    4
3    ketan    40    10
4    raju    35    8
5    sham    30    None
6    mukesh    24    4
7    rajesh    40    None
8    anup    38    8
9    rupesh    40    10
10    aarav    24    9
11    aadi    40    9
12    rajesh    50    15
13    shiva    30    10
101    xyz    None    None
1111    oo    25    5
1999    abc    35    9
2000    shri    45    10
connection closed

In [86]:
#insertion
def insertRow(dlno,name,age,exp):
    connection=''
    cursor=''
    try:
        connection,cursor=getDBConnection()
        cursor.execute("insert into driverdetails values(%s,%s,%s,%s)",(dlno,name,age,exp))
        connection.commit()
        print("inserted")
    except Error as e:
        print(e)
        print('some problem while inserting data')
    
    finally:
        cursor.close()
        connection.close()
        print("connection closed")

In [97]:
#insertRow(1999,"xyz",35,9)
insertRow(2000,"shri",45,10)
fetchAllRecords()

<class 'mysql.connector.connection_cext.CMySQLConnection'>
connection achieved succefully with mysql server  (8, 0, 19)
<class 'mysql.connector.cursor_cext.CMySQLCursor'>
cursor created
inserted
connection closed
<class 'mysql.connector.connection_cext.CMySQLConnection'>
connection achieved succefully with mysql server  (8, 0, 19)
<class 'mysql.connector.cursor_cext.CMySQLCursor'>
cursor created
Driver no |  name |  Age |  experinece
1    pqr    30    8
2    ram    28    4
3    ketan    40    10
4    raju    35    8
5    sham    30    None
6    mukesh    24    4
7    rajesh    40    None
8    anup    38    8
9    rupesh    40    10
10    aarav    24    9
11    aadi    40    9
12    rajesh    50    15
13    shiva    30    10
101    xyz    None    None
1999    abc    35    9
2000    shri    45    10
connection closed

In [88]:
def deleteRecord(dlno):
    connection=''
    cursor=''
    try:
        connection,cursor=getDBConnection()
        t1=(dlno,)
        cursor.execute("delete from driverdetails where dlno=%s",t1)
        connection.commit()
        print("deleted")
    except Error as e:
        print(e)
        print('some problem while deleting data')
    
    finally:
        cursor.close()
        connection.close()
        print("connection closed")

In [93]:
deleteRecord(2000)
fetchAllRecords()

<class 'mysql.connector.connection_cext.CMySQLConnection'>
connection achieved succefully with mysql server  (8, 0, 19)
<class 'mysql.connector.cursor_cext.CMySQLCursor'>
cursor created
deleted
connection closed
<class 'mysql.connector.connection_cext.CMySQLConnection'>
connection achieved succefully with mysql server  (8, 0, 19)
<class 'mysql.connector.cursor_cext.CMySQLCursor'>
cursor created
Driver no |  name |  Age |  experinece
1    priya    30    8
2    ram    28    4
3    ketan    40    10
4    raju    35    8
5    sham    30    None
6    mukesh    24    4
7    rajesh    40    None
8    anup    38    8
9    rupesh    40    10
10    aarav    24    9
11    aadi    40    9
12    rajesh    50    15
13    shiva    30    10
101    xyz    None    None
1999    abc    35    9
connection closed

In [90]:
#update record
def updateRecord(name,dlno):
    connection=''
    cursor=''
    try:
        connection,cursor=getDBConnection()
       
        cursor.execute("update driverdetails set name=%s where dlno=%s",(name,dlno))
        connection.commit()
        print("updated")
    except Error as e:
        print(e)
        print('some problem while updating data')

    finally:
        cursor.close()
        connection.close()
        print("connection closed")

In [94]:

updateRecord("pqr",1)
fetchAllRecords()

<class 'mysql.connector.connection_cext.CMySQLConnection'>
connection achieved succefully with mysql server  (8, 0, 19)
<class 'mysql.connector.cursor_cext.CMySQLCursor'>
cursor created
updated
connection closed
<class 'mysql.connector.connection_cext.CMySQLConnection'>
connection achieved succefully with mysql server  (8, 0, 19)
<class 'mysql.connector.cursor_cext.CMySQLCursor'>
cursor created
Driver no |  name |  Age |  experinece
1    pqr    30    8
2    ram    28    4
3    ketan    40    10
4    raju    35    8
5    sham    30    None
6    mukesh    24    4
7    rajesh    40    None
8    anup    38    8
9    rupesh    40    10
10    aarav    24    9
11    aadi    40    9
12    rajesh    50    15
13    shiva    30    10
101    xyz    None    None
1999    abc    35    9
connection closed